@import url('https://fonts.cdnfonts.com/css/fredoka');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900');

.body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 2px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.head {
  font-family: "Fredoka", sans-serif;
}
.elements {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}

#title {
	border-radius: 15px;
	margin: 15px;
	font-size: 45px ;
	font-weight: bold;
	text-align: center;
}

.rank1 {
	color: white;
	background-color: #ffc055;
	padding: 8px;
}
.rank2 {
	color: white;
	background-color: #cacaca;
	padding: 7px;
}
.rank3 {
	color: white;
	background-color: #794f05;
	padding: 6px;
}
.other-rank {
	color: black;
	background-color: white;
	border: 1px solid black;
	border-radius: 30px;
	margin: 0px 12px 15px;
	padding: 4px;
	opacity: 0;
}

.rank1, .rank2, .rank3, .other-rank {
	text-align: center;
	border-radius: 30px;
	margin: 0px 12px 15px;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 480px) {
	#title {
		font-size: 28px;
	}
	.rank1, .rank2, .rank3, .other-rank {
		font-size: 14px;
		margin: 0px 12px 15px;
	}
}

.show {
	opacity: 1;
	transform: translateY(0px);
}